.container-inline-date .form-item {
    display: block;
}
.form-item-reminder-reminder-settings-reminder-template {
    clear: left;
}

#edit-field-registrant-firstname {
    clear: left;
    margin-top: 50px;
}