.bg-gray-crealead-icons{
  background: @gris-clair-crealead url(../images/motif_1.png);
}
.content-header{
  &.container-header-logged-in{
    margin-top: 40px;
  }
  margin-top: 60px;
  padding: 20px 0;

  .region-content-header{
    .row-eq-height();
  }
}
