.view-display-id-block_home_slideshow{
  max-height: 531px;
  overflow: hidden;
  position: relative;
  .wrapper-diapo{
    width: 5148px;
    .row-diapo{
      float: left;
      .diapositive{
        position: relative;
        .txt-diapo{
          position: absolute;
          bottom: 30px;
          text-align: center;
          width: 858px;
          a{
            p{
              .cartouche-noir();
              .source();
              font-size: 2em;
            }
          }
        }
      }
    }
  }
  .view-display-id-controlers_1{
    position: absolute;
    top:20px;
    /*left: 150px;*/
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 286px;
  }
  .view-display-id-controlers_2{
    position: absolute;
    top:20px;
    left: 1100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 286px;
  }
}