.node-type-training {
  .field-name-field-brand-logo img {
    margin-right: 20px;
  }
  .training-email-label{
    @media screen {
      display: none;
    }
  }
  .training-email-address a{
    @media screen {
      text-indent: -6000px;
      display: block;
      background: url(../images/contact-crealead.png) no-repeat 0 0;
      width: 175px;
      height: 31px;
      z-index: 10;
      margin-top: 25px;
    }
  }
  .group-training-data{
    margin: 20px 0;
    border: 1px solid black;
    /*border-right: 0;*/
    padding-right: 0;
    .field-name-field-training-duration, .field-name-field-training-attendees-number{
      border-right: 1px solid black;
    }
  }
  .group-training-header-center .training-type{
    color: @orange-crealead;
  }
  .field-name-title h2{
    margin-top: 0;
  }
  .group-training-data .col-md-3{
    border-right: 1px solid black;
    &.training-sessions,&.training-price{
      border-right: 0;
    }
    .label-above{
      font-weight: bold;
      .source();
    }
  }
  .group-training-right-col{
    .label-above{
      .source();
    }
  }
}