body {
  font-family: Arial, sans-serif;
}
p{
  font-size: 0.9em;
}
img{
  max-width: 100%;
}
.position-relative{
  position: relative;
}
.transparent, .container.white{
  background-color: white;
  border: 0;
}
.navbar-default.white{
  border: 0;
  border-bottom: 1px solid @rouge-crealead;
  background-color: white;
}
h3{
  line-height: 0.8;
}
.row-eq-height {
  @media screen and (min-width:@screen-md){
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
/* Gestion des marges du container principal **************************************************************************/
.main-container{
  &.main-container-logged-in{
    margin-top: 40px;
  }
  &.main-container-with-header{
    margin-top: 0px;
  }
  margin-top: 60px;
  padding-top: 20px;

}
/* titres *************************************************************************************************************/
h2.block-title, h2.page-header{
  color: @rouge-crealead;
  .quick();
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.6em;
}
h3{
  .quick();
}

/* Textes *************************************************************************************************************/
.bold{
  font-weight: 700;
}
.line-bottom-red{
  border-bottom: 1px solid @rouge-crealead;
  padding-bottom: 15px;
  margin-bottom: 15px;
}