/* blocs accueil ******************************************************************************************************/
#block-views-news-block-news-focus {
  .position-relative .field-type-taxonomy-term-reference {
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: @rouge-crealead;
    padding: 5px;
    color: white;
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    display: table;
    font-weight: 700;
    font-size: 0.8em;
  }
  h3.home-news-title {
    margin-top: 0;
    a {
      color: @rouge-crealead;
      text-decoration: none;
      font-family: Quicksand, sans-serif;
      font-size: 0.7em;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .field-name-body {
    border-bottom: 1px solid @rouge-crealead;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .home-news-sector{
    font-weight: 700;
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    span{
      font-weight: 400;
    }
  }
}