.view-info-meetings{
  .view-header{
    float: left;
    width: 47%;
    border-right: 1px solid @rouge-crealead;
    pardding-right: 4%;
  }
  .view-content{
    float: left;
    width: 45%;
    padding-left: 4%;

    .title-table-meeting{
      /*margin-left: 3%*/
    }
    table{
      margin: 0 0 20px 0;
      tr{
        &.odd{
          background-color: @gris-clair-crealead;
        }
        td{
          a{
            display: block;
            background-color: @rouge-crealead;
            padding: 3px 2px;
            border-radius: 4px;
            color: #FFF;
            text-align: center;
            &:before{
              .glyphicon();
              font-size: 1em;
              content: "\e834"; /* icon arrow right */
              color: white;
            }
          }
        }
      }

    }
  }
  .view-footer{
    clear: left;
    padding: 0 7% 0 0;
    font-size: 1.6em;
    p.rtecenter:before{
      .glyphicon();
      font-size: 3em;
      content: "\e835"; /* icon arrow down */
      display: block;
      width: 50px;
      margin: 0 auto
    }
  }
}