# Ignore kstarter folders
builds/*
!builds/README.txt
shared/settings.php
shared/files/*
!shared/files/.htaccess
shared/private/*
www
!shared/private/.htaccess
shared/apache_authentication
# phpstorm project directory
.idea/
# ???
shared/_files/

# Ignore Prepros app settings files
repository/themes/custom/crealead/prepros-6.config
repository/themes/custom/crealead/less/prepros-6.config
repository/themes/custom/crealead/less/node_modules/
# gulp
repository/themes/custom/crealead/less/package.json
