.node-report .field-name-field-report-theme,
.node-report .field-name-author {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #cccccc;
}

.page-espace-co-entrepreneur-espace-associes {
  .view-footer {
    a {
      .button-home-more();
      display: block;
      float: left;
      margin-top: 5px;
    }
  }
}