/* Global *************************************************************************************************************/
.calendar-calendar td span.date-display-start, .calendar-calendar td span.date-display-end {
  //float:left;
}
.calendar-calendar .month-view .full td.multi-day .inner div,
.calendar-calendar .month-view .full td .inner div.calendar.monthview div{
  > span{
    margin-right: 5px;
    float: left;
  }
}
.calendar.monthview{
  > a {
    margin-left: 5px;
  }
}
/* Calendrier crealead importé et formation interne *******************************************************************/
.page-espace-co-entrepreneur-calendrier-formations,
#block-views-structure-calendar-structure,
.page-espace-co-entrepreneur-agenda-salles {
  .views-widget-filter-field_room_tid{
    > label{
      float: left;
      &:after {
        content: " : ";
      }
    }
    .bef-select-as-links {
      .form-item {
        @media (min-width: @screen-md) {
          width: 800px;
          a:before{
            .glyphicon();
            content: "\e879";
            color: @bleu-clair-crealead;
          }
        }
      }
    }
  }
  #block-menu-menu-calendar-listing-switcher {
    ul.nav-tabs {
      > li.first {
        > a {
          &:before {
            .glyphicon();
            content: "\e807";
          }
        }
      }
      > li.last {
        > a {
          &:before {
            .glyphicon();
            content: "\e86c";
          }
        }
      }
    }
  }
  #block-menu-menu-trainings-calendar {
    .nav-tabs {
      border: 0;
      > li.active {
        border-bottom: 1px solid @rouge-crealead;
        > a {
          border: 0;
        }
      }
      > li.first {
        > a {
          &:before {
            .glyphicon();
            content: "\e86e";
          }
        }
      }
      > li:nth-child(2) {
        > a {
          &:before {
            .glyphicon();
            content: "\e870";
          }
        }
      }
      > li:nth-child(3) {
        > a {
          &:before {
            .glyphicon();
            content: "\f0c8";
          }
        }
      }
      > li.last {
        > a {
          &:before {
            .glyphicon();
            content: "\e807";
          }
        }
      }
    }
  }
  .date-nav {
    ul.pager {
      @media (min-width: @screen-md) {
        li.date-prev {
          position: absolute;
          left: 25%;
          right: auto !important;
          background-color: transparent !important;
        }

        li.date-next {
          position: absolute;
          left: auto !important;
          right: 25% !important;
          background-color: transparent !important;
        }
      }
    }
  }
  /* Liste ou vue calendaire ******************************************************************************************/
  .calendar-calendar {
    div.calendar {
      background-color: transparent !important;
    }
    .field-content {
      a {
        font-family: arial !important;
        color: #000 !important;
        &:before {
          .glyphicon();
          content: "\e834";
          color: @noir-crealead;
          margin: 0 4px 0 0;
          position: relative;
          top: -1px;
        }
      }
      .funded-session{
        a {
          color: @rouge-crealead !important;
          &:before {
            color: @rouge-crealead;
          }
        }
      }
    }
    .month-view .full td.multi-day .inner div,
    .month-view .full td .inner div.calendar.monthview div.date-display-range {
      background-color: #F8F8F8;
      height: 20px;
      a{
        position: relative;
        color: #000;
        background-color: #F8F8F8;
        padding: 1px 3px 3px 3px ;
        font-size: 1.2em;
      }
    }
    td.multi-day{
      a:before{
        content: " - ";
      }
    }
    .month-view .full td.multi-day .inner .monthview .cutoff,
    .month-view .full td.multi-day .inner .monthview .cutoff {
      border-right: 2px solid black;
      background-color: transparent;
    }
  }

  .view-id-trainings_calendar.view-display-id-listing {
    .view-content {
      .calendar-listing-day-wrapper {
        display: table;
        > div.views-row{
          a {
            position: relative;
            .quick();
            font-size: 1.3em;
            display: block;
            padding-top: 15px;
            &:before{
              .glyphicon();
              content: "\f0c8";
              position: absolute;
              left: -30px;
              top: 25px;
              color: @bleu-clair-crealead;
              font-size: 0.6em;
            }
          }
        }
        > h3 {
          display: table-cell;
          margin: 0 10px 20px 0;
          padding: 20px;
          @media (min-width: @screen-md) {
            min-width: 210px;
          }
          &:before {
            .glyphicon();
            content: "\e834";
          }
        }
        &:after {
          content: "";
          display: block;
          clear: both;
          border-bottom: 3px dotted @gris-fonce-crealead;
          width: 60%;
          margin: 25px auto;
        }

      }

    }
  }
  .view-trainings-calendar-prod {
    .view-content {
      .calendar-listing-day-wrapper {
        display: table;
        > div.views-row{
          a {
            position: relative;
            .quick();
            font-size: 1.3em;
            display: block;
            padding-top: 15px;
            &:before{
              .glyphicon();
              content: "\f0c8";
              position: absolute;
              left: -30px;
              top: 25px;
              color: @bleu-clair-crealead;
              font-size: 0.6em;
            }
          }
        }
        > h3 {
          display: table-cell;
          margin: 0 10px 20px 0;
          padding: 20px;
          @media (min-width: @screen-md) {
            min-width: 210px;
          }
          &:before {
            .glyphicon();
            content: "\e834";
          }
        }
        &:after {
          content: "";
          display: block;
          clear: both;
          border-bottom: 3px dotted @gris-fonce-crealead;
          width: 60%;
          margin: 25px auto;
        }

      }

    }
  }
  .detail-session();
}
/* Calendrier structure ***********************************************************************************************/
.calendar-calendar .month-view .full td.multi-day div.monthview {
  color: #777;
}
#block-views-structure-calendar-structure .calendar-calendar .month-view .full td.multi-day .inner div a {
  position: static;
}
#block-views-structure-calendar-structure .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff {
  border-right: none;
}

//#block-views-structure-calendar-structure {
//  border-top: 3px dotted #CCC;
//  margin-top: 15px;
//
//  .month-view {
//    td.multi-day {
//      div.monthview {
//        .date-display-single {
//          border: 1px solid red;
//          span.date-display-range {
//            color: #777;
//          }
//          a {
//            position: static;
//            top: 0;
//          }
//        }
//      }
//
//    }
//  }
//}
#block-crealead-trainings-crealead-calendar-legend {
  .calendar-legend{
    color: @rouge-crealead;
  }
}
#block-views-structure-calendar-structure .views-field-title {
  clear: left;
}
#colorbox .node-structure-event .structure-events-links {
  margin-top: 20px;
  text-align: right;
}
#colorbox .node-structure-event .field-name-title {
  color: #a00c2f;
}

/* Calendrier salles **************************************************************************************************/
.view-display-id-rooms_month .bef-select-as-links .form-type-bef-link {
  float: left;
  padding: 0 10px;
}
.node-room-event.view-mode-colorbox .structure-events-links {
    margin-top: 20px;
    text-align: right;
}
