.under-footer{
  background: @gris-clair-crealead url('../images/motif_1.png');
  .footer {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    #crealead-sponsor {
      img {
        margin-right: 20px;

      }
    }
    @media (max-width: @screen-md) {
      background-image: none;
    }
    #crealead-sponsor {
      padding-bottom: 35px;
      display: table;
      margin: 0 auto;
      > span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    #block-menu-menu-footer-menu {
      background-color: #333;

      .menu.nav {
        display: table;
        margin: 25px auto;
        li {
          float: left;
          a {
            color: white;
            display: block;
            .source();
            text-transform: uppercase;
            border-right: 2px solid white;
            font-weight: bold;
            margin: 0;
            padding: 0 15px;
            font-size: 0.8em;
            &:hover {
              background-color: transparent;
              color: @rouge-crealead;
            }
          }
          &.last {
            a {
              border-right: 0;
            }

          }
        }
      }
    }

    #block-user-login {
      width: 50%;
      margin: auto;
    }

    #block-masquerade-masquerade {
      width: 50%;
      margin: auto;
    }
  }
}