.node-type-training {
  .field-name-field-brand-logo img {
    margin-right: 20px;
  }
  .training-email-label{
    @media screen {
      display: none;
    }
  }
  .training-email-address a{
    @media screen {
      text-indent: -6000px;
      display: block;
      background: url(../images/contact-crealead.png) no-repeat 0 0;
      width: 175px;
      height: 31px;
      z-index: 10;
      margin-top: 25px;
    }
  }
  .group-training-data{
    margin: 20px 0;
    border: 1px solid black;
    /*border-right: 0;*/
    padding-right: 0;
    .field-name-field-training-duration, .field-name-field-training-attendees-number{
      border-right: 1px solid black;
    }
  }
  .group-training-header-center .training-type{
    color: @orange-crealead;
  }
  .field-name-title h2{
    margin-top: 0;
  }
  .group-training-data .col-md-3{
    border-right: 1px solid black;

    .label-above{
      font-weight: bold;
      .source();
    }
  }
  .group-training-right-col{
    .label-above{
      .source();
    }
  }
  .training-sessions{
    .new-session-link > a{
      .red-button-link();
      color: white;
      margin-top: 15px;
    }
    a.colorbox-node{
      &:before{
        .glyphicon();
        content: '\e807';
      }
    }
    .session-list-link > a {
      &:before{
        .glyphicon();
        content: '\e834';
      }
    }
  }
}
.field-name-field-session-dates {
  .field-label{
    float: none;
  }
  .field-items > .field-item{
    display: block;
    &:before{
      .glyphicon();
      content: '\e834';
    }
  }
}
.page-formations-toutes-les-sessions{
  .view-id-trainings{
    h3{
      > a {
        float: left;
        margin-right: 20px;
      }
    }
  }
  a.colorbox-node{
    &:before{
      .glyphicon();
      content: '\e834';
    }
  }
}
/* page de formation **************************************************************************************************/
.page-formations{
  #edit-field-training-domain-tid{
    width: 300px;
  }
  #edit-field-training-type-tid{
    width: 217px;
  }
  #edit-title-wrapper{
    clear: left;
  }
  #views-bootstrap-grid-1{
    > .row{
      .group-wrapper-teaser{
        box-shadow: 0 0 5px #aaa;
        @media screen and (min-width: @screen-md){
          min-height: 400px;
          overflow: hidden;
        }
        margin-top: 20px;
        padding : 10px;
        .field-name-field-training-type{
          /*border-top: 1px solid @rouge-crealead;*/
          padding-top: 15px;

        }
        .field-item{

          > h3{
            margin-top: 0;
          }
        }
      }
    }
  }
}
