/* brand navigation ***************************************************************************************************/
#sector_brands_navigation{
  background-color: @bleu-clair-crealead;
  #block-crealead-brands-crealead-sector-brand-nav{
    a{
      color: white;
      text-transform: uppercase;
      .quick();
      font-weight: bold;
    }
  }
}
/* Brand introduction *************************************************************************************************/
#introduction.sector-brands-header{
  margin-top: 80px;
  height: 240px;
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
  &.sector-brands-desc-open{
    height:auto;
    padding-bottom:30px;
  }
  .views-field-field-brand-logo{
    img{
      max-height: 180px;
      max-width: 180px;
      margin: 10px 25px 30px 0;
      float: left;
    }
  }
  .views-field-description{
    margin-top: 20px;
    height: 200px;
    overflow: hidden;
    h3{
      .source();
      color: @rouge-crealead;
    }
    &.sector-brands-desc-open{
      height: auto;
    }
  }
}
body.not-logged-in {
  .region-sector-brands-header{
    margin-top: 20px;
  }
}

/* bouton open-close **************************************************************************************************/
#open-close-sector-brand {
  display: block;
  background: url('../../../../../modules/features/crealead_brands/img/arrows_up_down.png') no-repeat 50% 100%;
  z-index: 10;
  position: static;
  &.sector-brands-desc-open{
    background: url('../../../../../modules/features/crealead_brands/img/arrows_up_down.png') no-repeat 50% 0;
    margin-top: -33px;
    position: relative;
    z-index: 3;
  }
}
/* main container *****************************************************************************************************/
.title-3-sect-brand{
  text-transform: uppercase;
  .quick();
  font-weight: bold;
}
.main-container.main-container-sector-brands {
  margin-top: 0;
  padding-top: 0;
  h3 {
    .source();
    color: @rouge-crealead;
  }
  @media (min-width: @screen-md) {
    .third-effect .mask {
      margin-top: 5px;
    }
  }
  .group-sectorbrands-brands{
    h3{
      .title-3-sect-brand();
    }
  }
  .view-display-id-sector_brand_trainings{
    h3{
      color: white;
      text-transform: uppercase;
      background-color: @bleu-clair-crealead;
      padding: 20px;
      line-height: 1.3em;
      margin-bottom: 0;
    }
    .view-content{
      background-color: @gris-clair-crealead;
      padding: 20px;
      h4{
        a{
          display: block;
          color: @noir-crealead;
          font-size: 0.8em;
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid @bleu-clair-crealead;
          &:hover{
            color: @rouge-crealead;
          }
        }
      }
    }
  }
  #achievements{
    h3{
      .title-3-sect-brand();
      padding-top: 35px;
      border-top: 1px solid @gris-fonce-crealead;
    }
  }
  .group-sectorbrands-news{
    > h3{
      .title-3-sect-brand();
      padding-top: 35px;
      border-top: 1px solid @gris-fonce-crealead;
    }
    .view-news .position-relative {
      position: relative;
      .field-type-taxonomy-term-reference {
        position: absolute;
        top: 10px;
        left: 5px;
        background-color: @rouge-crealead;
        padding: 5px 10px;
        color: #fff;
        .quick();
        text-transform: uppercase;
        display: table;
        font-weight: 700;
        font-size: .8em;
      }
    }
  }

}



