body.node-type-need {
  .print-link {
    text-align: left;
    .print_html {
      a {
        img {
          float: left;
        }
      }
    }
  }
  .group-need-contact-infos{
    display: table;
    width: inherit;
  }
  .use-ajax.ajax-processed{
    display: block;
    &:before{
      .glyphicon();
      content: "\e83e";
      color: @rouge-crealead;
    }
  }
  #node-need-full-wrapper .row > .col-sm-6 > div.field {
    margin-bottom: 0.2em;
    > div.field-items > .field-item {
      margin-bottom: 0.5em;
      padding-left: 20px;
    }
  }
}
#block-views-needs-needs-list{
  border-top: 5px dotted @gris-fonce-crealead;
  margin-top: 20px;

  padding-top: 25px;
  position: relative;
  div.warning-links{
    position: absolute;
    top: 30px;
    left: 430px;
  }
  .view-header {
    > p > a {
      .red-button-link();
      position: absolute;
      top:25px;
      left: 200px;
    }
  }
  .views-table {
    margin-top: 20px;
  }
  .views-field-field-related-population{
    &:before{
      .glyphicon();
      content: "\e847";
      color: @gris-fonce-crealead;
    }
  }
  .views-field-title{
    a {
      display: block;
      padding: 2px 0;
      &:hover {
        background-color: @gris-clair-crealead;
      }
      &:before{
        .glyphicon();
        content: "\e818";
        color: @rouge-crealead;
      }
      &:hover:before{
        text-decoration: none;
      }
    }
  }
  .views-field-field-need-action{
    a {
      display: block;
      &:before{
        .glyphicon();
        content: "\e83e";
        color: @rouge-crealead;
      }
      &:hover:before{
        text-decoration: none;
      }
    }
  }
}