body.node-type-need {
  .print-link {
    text-align: left;
    .print_html {
      a {
        img {
          float: left;
        }
      }
    }
  }
  .group-need-contact-infos{
    display: table;
    width: inherit;
  }
  .use-ajax.ajax-processed{
    display: block;
    &:before{
      .glyphicon();
      content: "\e83e";
      color: @rouge-crealead;
    }
  }
}