.view-structure-team #tabs li.profile-tab:hover {
  cursor: pointer;
}

.view-structure-team {
  #tabs {
    ul {
      li.profile-tab {
        padding: 0 !important;
        display: block;
        float: left;
        @media (min-width: 517px) {
          &:first-child {
            a {
              border-radius: 8px 0 0 8px;
            }
          }
          &:last-child {
            a {
              border-radius: 0 8px 8px 0;
            }
          }
        }
        @media (max-width: 517px) {
          width: 49%;
          margin-right: 1%;
          margin-bottom: 5px;
        }
        a {
          .quick();
          display: block;
          color: #fff;
          background-color: #000;
          font-weight: 700;
          text-transform: uppercase;
          padding: 7px 19px;
          margin: 0;
          border-radius: 0;
          border: 0;
          &:hover{
            text-decoration: none;
            background-color: @gris-fonce-crealead;
            color: #000;
          }
        }
        &.group-structure-selected {
          a {
            background-color: @rouge-crealead;
          }
        }
        &:before {
          content: none;
        }
      }
      &:after {
        content: '';
        display: block;
        clear: both;
        margin-bottom: 30px;
      }
    }
  }
  .views-row {
    @media (min-width: @screen-md) {
      width: 32%;
      float: left;
    }
    box-shadow: 0 0 5px #999;
    padding-bottom: 0;
    height: 100px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-right: 1%;
    img {
      float: left;
      margin-right: 15px;
    }
    .username {
      .quick();
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}