body.page-user{
  #bootstrap-fieldgroup-nav-item--ma-page-entrepreneur {
    .user-skills{
      float: left;
      margin: 5px 5px 5px 0;
      font-weight: bold;
      background-color: @gris-clair-crealead;
      border: 1px solid @gray-dark;
      padding: 2px 5px;
    }
    h4.h4-user{
      .quick();
      color: @rouge-crealead;
    }

    .view-display-id-eva_user_infos {
      clear: both;
      padding-top: 20px;

      .views-field-mail {
        .views-label-mail {
          font-weight: bold;
        }
      }
      .field-name-field-social-links {
        clear: both;
        padding: 20px 0;
        ul {
          padding: 10px 0;
          border-top: 1px solid @gris-fonce-crealead;
          border-bottom: 1px solid @gris-fonce-crealead;

          li:before {
            content: '';
            width: 0;
          }
        }
      }
    }
  }
}
.page-espace-co-entrepreneur-trombinoscope{
  .views-field-field-coe-photo{
    height: 150px;
    overflow: hidden;
    width: 100%;
    display: table;
    > .field-content{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .views-field-field-user-firstname, .views-field-field-user-lastname{
    text-align: center;
  }
  #edit-field-competencies-tid-wrapper {
    width: 64.5%;
    float: left;
    margin-bottom: 30px;
  }
  button.form-submit {
    background-color: @rouge-crealead;
    color: #fff;
  }
}
