#block-menu-menu-calendriers {
    margin-bottom: 20px;
}

#block-menu-menu-calendriers ul li {
    float: left;
    font-size: 130%;
}

#block-menu-menu-calendriers ul li a.active{
    color: gray;
}

.view-display-id-rooms_month div.feed-icon a.ical-icon img,
.view-display-id-structure_month div.feed-icon a.ical-icon img {
    padding: 0.5em;
    display: inline;
}