#edit-field-allowed-brands .tabledrag-toggle-weight-wrapper {
    display: none;
}
#field-allowed-brands-values {
    width: 40%;
}
#field-allowed-brands-values thead th {
    background-color: #ffffff;
    padding-left: 0;
}
#field-allowed-brands-values tbody {
    border: 1px solid #ccc;
}

.page-node-revisions .diff-links {
    display: none;
}
.page-node-revisions .diff-section-title {
    /* padding-top: 20px; */
    font-size: 120%;
}
.page-node-revisions .diff-section-title .placeholder {
    color: red;
}
.page-node-revisions div.diff-section-title {
    margin: 50px 0 10px 0;
}

.page-node-revisions table.diff tbody td {
   padding: 10px;
}

.field-help-emphasis {
    font-weight: 700;
}
.remaining-chars {
    color: red;
    font-size: 120%;
    font-weight: 700;
}