#edit-field-allowed-brands .tabledrag-toggle-weight-wrapper {
    display: none;
}
#field-allowed-brands-values {
    width: 40%;
}
#field-allowed-brands-values thead th {
    background-color: #ffffff;
    padding-left: 0;
}
#field-allowed-brands-values tbody {
    border: 1px solid #ccc;
}