
.icon-yahoo:before { content: '\e800'; } /* '' */
.icon-myspace:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-slideshare:before { content: '\f1e7'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-viadeo:before { content: '\f2a9'; } /* '' */