
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-googleplus:before { content: '\e802'; } /* '' */
.icon-linkedin-squared:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\e804'; } /* '' */
.icon-vimeo:before { content: '\e805'; } /* '' */
.icon-flickr:before { content: '\e806'; } /* '' */
.icon-yahoo:before { content: '\e807'; } /* '' */
.icon-myspace:before { content: '\e808'; } /* '' */
.icon-pinterest:before { content: '\e809'; } /* '' */
.icon-slideshare:before { content: '\e80a'; } /* '' */